.main{
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 107, 205);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.image{
    height: 40px;
}